@use 'variables';

:root {
  --filterHeight: 0;
  --searchWidth: 0;
  --font-var: .25vw;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: variables.$cream;
  color: variables.$slate;
  fill: variables.$slate;
  stroke: variables.$slate;

}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-funnel-sans);
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input {
  min-width: max-content;
  &, &::placeholder {
    font-family: var(--font-funnel-sans) !important;
    text-transform: uppercase;
  }
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h4 {
  font-size: calc(.66rem + 0.125vw);
}

h2 {
  font-size: calc(1rem + 0.25vw);
}

p, a, input::placeholder, input, label, li {
  font-size: calc(.6rem + var(--font-var))
}
