@use 'variables';

.emergency_needs_list {
    padding: 0 1em;
    height: max-content;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    
    ul {
        list-style: none;
    }

    .headers {
        width: 100%;
        height: max-content;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3); 
        border-bottom: solid 1.5px;  
        padding-bottom: 1em;
        align-items: end;
        h2 {
            font-size: calc(.4rem + 1.2vw);
        }
        li:last-of-type {
            justify-self: end;
            text-align: right;
        }
    }

    .list_of_details {
        width: 100%;
        height: max-content;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3); 
        border-bottom: solid 1.5px; 
        padding: 1em 0;
        li {
            align-self: flex-start;
            text-transform: uppercase;
        }
        ul:last-of-type {
            text-align: right;
            justify-self: end;
            li {
                margin: 0;
                padding: 0;
                align-self: start;
                width: max-content;
                text-align: right;
            }
            a {
                transition: all ease-in-out .5s;
                text-align: right;
                justify-self: end;
                display: block;
                width: max-content;
                height: max-content;
                padding: 0.25em 1em;
                background-color: rgba(variables.$lime, .25);
                border-radius: 100vw;
                margin: .5em;
                line-height: 2;
                &:hover {
                    background-color: rgba(variables.$lime, .75);
                }
            }
        }
    }

    .no_needs {
        font-style: italic;
        opacity: .75;
    }

}

@media (min-width: 768px) {
  .headers h2 {
    font-size: calc(0.5rem + 0.75vw) !important;
  }
}


